<div class="top-menu">
    <div class="search">
        <form>
            <input type="text" placeholder="" required="">
            <input type="submit" value=""/>
        </form>
    </div>
    <ul class="active">
        <li ><a href="{{ path('homepage') }}">HOME</a></li>
        <li><a href="{{ path('view_about') }}">ABOUT</a></li>
        <li><a href="{{ path('view_contact') }}">CONTACT</a></li>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li>
                <a href="{{ path('article_create') }}">CREATE ARTICLE</a>
            </li>
            <li>
                <a href="{{ path('fos_user_profile_show') }}"> {{ 'layout.logged_in_as'|
                trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                </a>
            </li>
            <li>
                <a href="{{ path('fos_user_security_logout') }}">LOGOUT</a>
            </li>
        {% else %}
            <li><a href="{{ path('fos_user_registration_register') }}">REGISTER</a> </li>
            <li><a href="{{ path('fos_user_security_login') }}">LOGIN</a> </li>
        {% endif %}
    </ul>
</div>


<script>
    $("span.menu").click(function(){
        $(".top-menu ul").slideToggle("slow" , function(){
        });
    });
</script>