{% extends 'base.html.twig' %}

{% block content %}
    {% for article in articles %}
<div class="single-grid">
        <img src="{{ asset('upload/article_image/'~article.path) }}"  alt=""/>
</div>
            <div class="content-grid-info">
                <div class="post-info">
                <h4>
                    <a href="{{ path('article_view', {'id': article.id}) }}">{{ article.title }}</a>
                    {{ article.date|date("d/m/Y H:i") }}  //
                    {{ render(controller('AppBundle:Comment:countComment',{'articleId':article.id})) }} Comments / Author: {{ article.author }}
                </h4>
                <p>{{ article.summary}}</p>
                <a href="{{ path('article_view', {'id': article.id}) }}"><span></span>READ MORE</a>
            </div>
        </div>
        {% else %}
        <h2>No preview article here! Be first to create :<a href="{{ path('article_create') }}">New article</a></h2>
    {% endfor %}
{% endblock %}

