{% extends 'base.html.twig' %}

{% block content %}
    {% for article in articles %}
        <div class="content-grid-info">
            <img src="{{ asset('images/post1.jpg') }}" alt=""/>
            <div class="post-info">
                <h4>
                    <a href="{{ path('article_view', {'id': article.id}) }}">{{ article.title }}</a>
                    {{ article.date|date("d/m/Y H:i") }}  //
                    {{ render(controller('AppBundle:Comment:countComment',{'articleId':article.id})) }} Comments / Author: {{ article.author }}
                </h4>
                <p>{{ article.summary}}</p>
                <a href="{{ path('article_view', {'id': article.id}) }}"><span></span>READ MORE</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}

