{% extends 'base.html.twig' %}

{% block content %}
    <div class="well">
        <form class="form-horizontal" action="{{ path('article_delete',{id:article.id}) }}" method="POST">
            <fieldset>
                <legend>Edit Post</legend>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="article_title">Delete Title</label>
                    <div class="col-sm-6 ">
                        {{ form_widget(form.title) }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="content">Content</label>
                    <div class="col-sm-6">
                        {{ form_widget(form.content) }}
                    </div>
                </div>

                {{ form_row(form._token) }}
                <div class="alert alert-danger">
                    <strong>Athention!</strong> This will delete your article !!!
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <a class="btn btn-default" href="{{ path('homepage') }}">Cancel</a>
                        <button type="submit" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

{% endblock %}

