{% extends 'base.html.twig' %}

{% block content %}

    <div class="well">
        <form class="form-horizontal" action="{{ path('article_edit',{id:article.id}) }}" method="POST">
            <fieldset>
                <legend>Edit Post</legend>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="article_title">Post Title</label>
                    <div class="col-sm-6 ">
                        {{ form_widget(form.title) }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="article_title">Post Category</label>
                    <div class="col-sm-6 ">
                        {{ form_widget(form.category) }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="content">Content</label>
                    <div class="col-sm-6">
                        {{ form_widget(form.content) }}
                    </div>
                </div>

                {{ form_row(form._token) }}

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <a class="btn btn-default" href="{{ path('homepage') }}">Cancel</a>
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

{% endblock %}

